body {
  background-color: rgb(24, 28, 29);
}

.fas {
    width: 1.3em !important;
  }
  
  @media only screen and (max-width: 800px) {
    .inf {
      display: block !important;
    }
    .display-1 {
      font-size: 3rem;
    }
  }
  